.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-section {
  background-color: #fff3e0;
  padding: 16px;
  border-radius: 4px;
  margin: 16px 0;
}
h1 {
  color: #654992;
}
.company-section h3 {
  color: #654992;
  margin-top: 0;
}

mat-form-field {
  width: 100%;
}

.button-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

button[color="primary"] {
  background-color: #654992;
}

input {
  padding: 20px 40px;
}

.button-container button {
  padding: 20px 40px;
  border-radius: 10px;
}

.button-container .btn {
  background-color: rgb(218, 49, 49);
}
